body {
        font-family: Roboto, Arial, sans-serif;
        /* 
        background: #ECEFF1;
        color: rgba(0,0,0,0.87);
        設定したい画像 */
        background-image: url(/image/path);
        /* 画像を上下左右中央寄せ */
        background-position: center center;
        /* タイル状には並べないように指定 */
        background-repeat: no-repeat;
        /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
        background-attachment: fixed;
        /* 表示するディスプレイの大きさに基づいて、背景画像を縦横比を固定しながら調整 */
        background-size: cover;
        /* 画像が読み込まれる前の背景色の指定 */
        background-color: #FFFFFF;
      }

      a {
        color: rgb(3,155,229);
      }

      #message {
        max-width: 400px;
        margin: 40px auto;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
        border-radius: 2px;
        background: white;
        padding: 16px 24px;
      }

      #message h1 {
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        margin: 0 0 16px;
      }

      #message p {
        font-weight: 300;
        line-height: 150%;
      }

      #message ul {
        list-style: none;
        margin: 16px 0 0;
        padding: 0;
        text-align: center;
      }

      #message li a {
        display: inline-block;
        padding: 8px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        background: rgb(3,155,229);
        color: white;
        border: 1px solid rgb(3,155,229);
        border-radius: 3px;
        font-size: 14px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      }
      .c_0{
        background-color:#FFFFFF;
        width:800px;
        margin:auto;
        }
      .c_1{
        background-color:#FFFFFF;
        width:300px;
        margin:auto;
        }
       .div_left{
        margin:0;
        float:left;
      
      }
      .div_right{
        margin:0;
        float:left;

      }
      .div_cent{
        margin:20;
        
        text-align: center;

      }
      .div_all{
        margin:0;
        font-family: Roboto, Arial, sans-serif;
        color: #FFFFFF;
        background-color:#FA5858;
        width:150px;
        height:60px;
        float:left;
        text-align: center;
      }

      .div_ent{
        margin:0;
        font-family: Roboto, Arial, sans-serif;
        color: #FFFFFF;
        background-color:#04B45F;
        height:60px;
        line-height: 60px;
        text-align: center;
      }
      .div_it{
        margin:0;
        color: #FFFFFF;
        background-color:#9A2EFE;
        width:150px;
        height:60px;
        float:left;
        text-align: center;
      }

      .div_fac{
        margin:0;
        color: #FFFFFF;
        background-color:#FE9A2E;
        height:60px;
        line-height: 60px;
        text-align: center;
      }
      .div_new{
        margin:0;
        color: #FFFFFF;
        background-color:#0B3861;
        width:150px;
        height:60px;
        float:left;
        text-align: center;

      }
      

      .div_gur{
        margin:0;
        color: #FFFFFF;
        background-color:#F7819F;
        height:60px;
        line-height: 60px;
        text-align: center;
      }
      .div_spo{
        margin:0;
        color: #FFFFFF;
        background-color:#2E9AFE;
        width:150px;
        height:60px;
        float:left;
        text-align: center;
      }

      .div_hob{
        margin:0;
        color: #FFFFFF;
        background-color:#58D3F7;
        height:60px;
        line-height: 60px;
        text-align: center;
      }
      p{
        line-height: 30px;
      }